<header
  class="fixed top-0 left-0 w-full z-50 backdrop-blur-xl bg-white/10 border-b border-white/20 text-white p-4 flex justify-between items-center shadow-[0_4px_30px_rgba(0,0,0,0.3)]"
>
  <h1 class="text-2xl font-bold tracking-wide drop-shadow-md select-none text-black">
    The Noter
  </h1>

  <div>
    <button
      (click)="onCreateNewNote()"
      class="bg-blue-800/90 hover:bg-blue-700/70 text-white font-semibold px-5 py-2.5 rounded-xl shadow-md hover:shadow-blue-500/40 border border-white/20 backdrop-blur-md transition-all duration-300 active:scale-95 cursor-pointer mx-2"
    >
      Create New Note
    </button>

    <button
        *ngIf="isLoggedIn()"
        (click)="logout()"
        class="bg-red-700/90 hover:bg-red-600/70 text-white font-semibold px-5 py-2.5 rounded-xl shadow-md hover:shadow-red-500/40 border border-white/20 backdrop-blur-md transition-all duration-300 active:scale-95 cursor-pointer"
      >
        Logout
      </button>
    </div>
  
</header>
